/* tailwind base css -------------------------------*/
@tailwind base;

/* tailwind components css -------------------------------*/
@tailwind components;

/* tailwind utility css -------------------------------*/
@tailwind utilities;

/* Path: src/index.css */

/* Custom css */
.Calendar-Container {
  max-width: 900px;
  margin: 0 auto;
}

.event-time {
  color: #fff;
  margin-right: 10px;
}

.fc-daygrid-day {
  background-color: #f5f5f5;
}
